.mid{
    margin: 0% 25% 0%;}
.avatar{
    width: 15%;
	margin: -1% 20% 1%;}
.log{
	margin: -6% 36% 0%;}
#navy{
    background: #1A5276;
}
.for{
    margin: 3% 30% 2%;}
.jumbotron{ 
    color: #FFFFFF;
    background-color:#C0C0C0 !important;}
.gorg{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;}
.round{
    border-radius: 8px;
    padding: 1%;
    width: 20%;
    margin: 0% 40% 0%;}
#fnt{
    font-family: Georgia, 'Times New Roman', Times, serif;;
}
.wrks{
    margin: 0% 46% 0%;}